@import "https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.min.css";

:root {
  --primary-color: #2962ff; /* A cor principal do app. */
  --background-color: #FFFFFF; /* Cor do plano de fundo. */
  --heading-color: #121212; /* A cor do texto dos títulos. */
  --text-color: #333333; /* Cor dos textos em geral. */

  --base-text-size: 18px;
  font-size: var(--base-text-size);

  --default-padding: 32px; /* Espaço padrão entre a borda e o conteúdo dos elementos. */
  --default-margin: 32px; /* Espaço padrão entre os elementos e textos na interface. */

  --sidebar-color: #F4F4F4;
  --sidebar-width: min(22vw, 300px);
}

@media (prefers-color-scheme: dark) {
  /* Cores do tema escuro. */
  :root {
    --primary-color: #2196F3;
    --background-color: #121212;
    --heading-color: #E9E9E9;
    --text-color: #D3D3D3;
    --sidebar-color: #2f2f2f;
  }

  .feed__post__thumb-wrapper {
    border: 1px solid rgba(255,255,255,.15) !important;
  }
}

body {
  background-color: var(--background-color);
  font-family: Colfax, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  font-display: swap;
  color: var(--text-color);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  padding: calc(var(--default-padding) + 12px);
  padding-left: calc(var(--sidebar-width) + var(--default-padding) + 12px);
}

header.sidebar {
  background-color: var(--sidebar-color);
  padding: var(--default-padding);
  width: var(--sidebar-width);
  height: 100vh;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

h1.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

h1.logo a {
  color: var(--text-color);
}

p.description {
  opacity: .82;
  font-size: 0.92rem;
  margin: 3px 0 var(--default-margin);
}

ul.sidebar__links li {
  margin-bottom: 6px;
}

.section-title {
  color: var(--heading-color);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

ul.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 45px;
  margin-bottom: 45px;
}

.feed__post > a {
  text-decoration: none;
  color: var(--text-color);
}

.feed__post__thumb-wrapper {
  border: 1px solid rgba(0,0,0,.15);
  position: relative;
  width: 100%;
  padding-top: 56%;
  margin-bottom: 10px;
}

.feed__post__thumb {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.feed__post__title {
  -webkit-line-clamp: 3!important;
  word-break: break-word;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.26;
  color: var(--heading-color);
  margin-bottom: 10px;
  position: relative;
}

.feed__post__description {
  font-size: 0.94em;
  margin-bottom: 4px;
}

.feed__post__footer {
  opacity: .7;
  font-size: 0.9em;
}

.feed__featured-post {
  font-size: 1.4rem;
  margin-bottom: calc(var(--default-margin) + 15px);
}

.feed__featured-post .feed__post__link {
  display: flex;
  align-items: center;
}

.feed__featured-post .feed__post__thumb-wrapper {
  width: 60%;
  padding-top: 37%;
  margin-right: var(--default-margin);
}

.feed__featured-post .feed__post__title::before {
  background-color: red;
  color: #f8f8f8;
  border-radius: 50px;
  padding: 4px 10px 3px 6px;
  content: '⭐ Destaque';
  font-size: 0.46em;
  font-weight: normal;
  position: absolute;
  bottom: calc(100% + 12px);
  left: 0;
}
