<header class="sidebar" role="banner">
  <h1 class="logo">
    <a href="{{ route('PostsController.index') }}">{{ site_name }}</a>
  </h1>
  <p class="description">Um simples blog feito com a versão 5 do <a href="https://preview.adonisjs.com/">AdonisJS</a>.</p>

  <ul class="sidebar__links">
    <li><a href="/">Página inicial</a></li>
  </ul>

</header>
