@layout('layouts/main')

@set('title', 'Últimas postagens')
@set('body_class', 'home-page')

@section('content')
  @!component('components/feed_post', {
    post: featuredPost,
    class_attr: 'feed__featured-post'
  })

  <h2 class="section-title">Últimas postagens</h2>
  @!component('components/feed', {
    posts: latestPosts,
  })
@endsection
